.panel {
    margin: 15px;
    margin-top: 90px;
    display: block;
    justify-content: center;
    align-items: center;

    .panel-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "panel2";
        max-width: 1600px;
        gap: 15px;

        .panel-1 {
            grid-area: panel1;
            display: none;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .panel-2 {
            grid-area: panel2;
            outline: 6px solid $color-theme;
            outline-offset: -14px;
            background-color: $color-light-2;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 350px;
            @include md {
                display: flex;
            }

            .content {
                padding: 15px;
                text-align: center;

                .title {
                    font-weight: 700;
                    font-size: 2em;
                }

                .defoult-text {
                    font-size: 0.7em;
                }
            }

        }

        .panel-3 {
            grid-area: panel3;
            display: none;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

@include lg {
    .panel .panel-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "panel1 panel2";

        .panel-1 {
            display: grid;
        }

        .panel-2 {
            height: auto;
            width: auto;
        }

    }
}

@include xl {
    .panel .panel-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "panel1 panel2 panel3";

        .panel-1 {
            display: grid;
        }

        .panel-2 {
            height: auto;
            width: auto;

            .content {
                padding: 15px;
                text-align: center;

                .title {
                    margin-bottom: 5px;
                }

                .defoult-text {
                    font-size: 0.7em;
                }
            }
        }

        .panel-3 {
            display: grid;
        }
    }
}