.showcase {
    @include xl {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-theme {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .showcase-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "column1";
        background: linear-gradient(90deg, $color-light-3 0%, $color-light-2 100%);

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "column1 column2";
        }

        @include xxl {
            max-width: 1800px;
        }
    }

    .column-1 {
        grid-area: column1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        @include md {
            padding-left: 5rem;
        }
    }

    .column-2 {
        grid-area: column2;
        display: none;

        @include lg {
            display: block;
        }
    }

    .column-1 .content {
        text-align: center;

        @include lg {
            text-align: left;
        }
    }

    .column-2 img {
        height: 100%;
        width: auto;
        object-fit: fit;

        @include lg {
            height: 550px;

            @include xxl {
                height: 700px;
            }
        }
    }
}

.title-1 {
    font-size: 1.5em;

    @include lg {
        font-size: 2.5em;

        @include xxl {
            font-size: 4em;
        }
    }
}

.title-2 {
    font-size: 1em;
    @include lg {
        font-size: 2em;

        @include xxl {
            font-size: 2.5em;
        }
    }
}

.title-3 {
    padding-top: 8px;
    font-size: 0.8em;

    @include lg {
        font-size: 1.1em;

        @include xxl {
            font-size: 1.5em;
        }
    }
}